.button {
    width: 160px;
    height: 45px;
    background-color: #ec644b;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 22.04px;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    margin-top: 12px;
    &_big {
        display: block;
        margin: 0 auto;
        margin-top: 39px;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
        line-height: 17.35px;
    };
    &_price {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    };
    &_order {
        display: block;
        position: absolute;
        bottom: -22px;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
        color: $white;
        font-family: "Roboto Condensed";
        text-transform: uppercase;
    };
};