.title {
    color: $title_color;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;
    &__white {
        color: $white;
        font-size: 26px;
        font-weight: 500;
        line-height: 23px;
        text-transform: none;
        margin-top: 20px;
    }
    &__order {
        margin-top: 56px;
        color: #3a3a3a;
        font-size: 28px;
        font-weight: 400;
        line-height: 23px;
        text-align: center;
        text-transform: none;
    }
}