* {
    font-family: 'Roboto', sans-serif;
    :active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }
    
    outline: none !important
        
}

@import 'libs/bootstrap-grid.min';
@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';

.container {
    padding: 0;
}


@import 'base/variables';


@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/advantage';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/managers';
@import 'blocks/hr';
@import 'blocks/scheme';
@import 'blocks/feed';
@import 'blocks/quastions';
@import 'blocks/map';
@import 'blocks/footer';

@import 'base/media';